body
{
    font-family: Apple Chancery;
    display: grid;
    grid-template-columns: 2fr 5fr;
}
header
{
    background: linear-gradient(rgb(54, 41, 243),cornflowerblue);
    grid-column: 1 / -1;
    display: flex;
    justify-content: space-between;
}
#monNom
{
    font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
    margin-top: 10%;
    font-size: 5em;
}
#photo
{
    float: left;
    width: 15em;
    height: 18em;
    padding: 1em;
}
menu
{
    background: linear-gradient(cornflowerblue,rgb(39, 182, 248));
    grid-column-start: 1;
    padding: 5%;
    margin: 0em;
}
main
{
    display: flex;
    justify-content: center;
    padding: 5%;
}
.taches
{
    color: rgb(167, 166, 166);
}
footer
{
    background:linear-gradient(rgb(39, 182, 248),rgb(182, 228, 250))  ;
    grid-column: 1 / -1;
    padding: 2em;
}
#logo
{
    grid-column: 1/3;
}
.logo
{
    width : 10em;
    height: 10em;
}
.logoc
{
    width : 5em;
    height: 5em;
}
.logocr
{
    width : 10em;
    height: 5em;
}
.logocrr
{
    width: 15em;
    height: 5em;
}
#intro
{
    grid-column: 1/3;
}
#mail
{
    color: black;
}
.logoepitech
{
    width: 2em;
    height: 2em;
}
@media screen and (max-width: 1230px) {
    #resizeepitech
    {
        font-size: 60%;
    }
    .resize
    {
        font-size: 2em;
    }
}